@model MemberShipMVC.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTask)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTask)
            @Html.ValidationMessageFor(model => model.IdTask)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTicket)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdTicket)
            @Html.ValidationMessageFor(model => model.IdTicket)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detail)
            @Html.ValidationMessageFor(model => model.Detail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hours)
            @Html.ValidationMessageFor(model => model.Hours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProject, "Project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdProject", String.Empty)
            @Html.ValidationMessageFor(model => model.IdProject)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
